@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// 1em = 16px => 600px = 37.5em
@mixin phone {
  @media (max-width: 37.5em) {
    // 600px/16
    @content;
  }
}
@mixin tab-port {
  @media (max-width: 56.25em) {
    // 900px/16
    @content;
  }
}
@mixin tab-land {
  @media (max-width: 75em) {
    // 1200px/16
    @content;
  }
}
@mixin big-screen {
  @media (min-width: 112.5em) {
    // 1800px/16
    @content;
  }
}
